#wrapper{
	width: 980px;
	margin-right:auto;
	margin-left: auto;
}

header{
	height: 150px;
	background: green;
}

section{
	background: red;
	
}

#output-wrapper{
	width: 980px;
	margin-right:auto;
	margin-left: auto;
}

header{
	height: 150px;
	background: green;
}

section{
	background: red;
	
}